html {
    scroll-behavior: smooth;
}

body {
    min-width: 1440px;
}


:root {
    --bg-fon: rgb(76, 61, 116);
    --text-color-white: rgb(255, 255, 255);
    --button-ligth: rgb(163, 135, 196);
    --text-more-dark: rgb(80, 65, 120);
    --bg-white: rgb(242, 238, 247);
    --footer-bg: rgb(37, 25, 51);
}

.container {
    padding-right: 140px;
    padding-left: 140px;
}

.header,
.will-be,
.about,
.its-for-master,
.price,
.footer {
    background: var(--bg-fon);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 105px;
}

.nav,
.nav-link {
    color: var(--text-color-white);
    font-family: Futura;
    font-size: 14px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.info {
    padding-top: 100px;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.text-info {
    font-size: 20px;
}

.info-h1,
.you-need-it {
    font-size: 50px;
    padding-top: 19px;
    padding-bottom: 29px;
}

.text-info,
.info-h1,
.head-btn-link,
.you-need-it,
.its-for-master,
.about-block {
    font-family: Futura;
    font-weight: 700;
    color: var(--text-color-white);
}

.head-btns {
    padding-top: 44px;
    padding-bottom: 182px;
}

.head-btn-link,
.about-block {
    font-size: 16px;
}

.head-btn,
.qa-button {
    width: 245px;
    height: 60px;
    border: 3px solid var(--button-ligth);
    border-radius: 30px;
    margin-right: 24px;
    background: var(--bg-fon);
}

.head-btn:hover {
    transition : 1000ms;
    transform : translateY(-0px);
    background: var(--button-ligth);
}

.head-btn:active {
    background: var(--text-color-white);
    color: var(--button-ligth);
}


.you-need-it {
    color: var(--text-more-dark);
    padding-top: 165px;
    display: flex;
    justify-content: center;

}

.its-for,
.waiting-info-text,
.price-item {
    font-family: Futura;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: var(--bg-fon);
}

.master {
    font-size: 20px;
}

.need {
    display: flex;
    gap: 65px;
    padding-bottom: 43px;
    justify-content: space-around;
}


.need-block {
    width: 330px;
    height: 138px;
    border: 3px solid var(--bg-fon);
    border-radius: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.need-block-info {
    display: flex;
    align-items: center;
    position: relative;
    top: -15px;
    left: -50px;
}

.need-sing-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.need-btn {
    padding-left: 33px;
}

.need-btn .head-btn,
.price-title,
.price-duration,
.pay-button,
.price-for-all {
    color: var(--text-color-white);
    font-family: Futura;
    font-size: 16px;
    font-weight: 700;
}

.price-discount {
    font-family: Futura;
    font-size: 12px;
    font-weight: 500;
}

.price-for-all,
.price-discount {
    color: var(--bg-fon);
}

.woman-supervillain {
    position: relative;
    bottom: 0;
    right: 0;
}

.waiting {
    display: flex;
    flex-direction: row;  
    gap: 8px;
}

.info-waiting {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.waiting-info {
    width: calc(100% / 3);
    display: flex;
    gap: 20px;
    align-items: center;
}

.waiting-info-text {
    color: var(--text-color-white);
    padding-top: 35px;
    padding-bottom: 35px;
}

.big-title {
    font-family: Futura;
    font-size: 50px;
    font-weight: 700;
    color: var(--text-color-white);
}

.about-block {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 175px;
}

.about-block-big-title {
    display: flex;
    justify-content: space-around;
}

/* ------- accordeon -------- */


.my-accordion .menu-acordeon {
    color: var(--bg-fon);
    cursor:pointer;
    padding:12px;
    width:100%;
    height: 60px;
    text-align:left;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    outline:none;
    margin-top:4px;
    font-size:inherit;
    border-top: 1px solid var(--bg-fon);
}

.my-accordion .menu-acordeon-bottom {
    border-bottom: 1px solid var(--bg-fon);
}

.my-accordion .panel {
    background-color:#FFFFFF;
    color: var(--bg-fon);
    overflow:hidden
}

.my-accordion .open {
    display:block
} 

.my-accordion .close {
    display:none
}

.my-accordion .active {
    background-color:#808080;
    color:#fff
}

.my-accordion .arrow {
    float:right;
    display:block
}

.my-accordion .darrow {
    display:none
}

.my-accordion .active .darrow {
    display:block
}

.my-accordion .active .rarrow {
    display:none
}

.my-accordion .panel a {
    display:block;
    background:#808080;
    color:#FFFFFF;
    padding:5px;
    margin:3px;
    width:100%;
    text-decoration:none
}

.accordion-sub {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-top: 50px;
}

.menu-acordeon-bottom {
    border-bottom: 1px solid var(--bg-fon);
}

/* --------------- */

.price-offer {
    display: flex;
    padding-bottom: 93px;
    justify-content: space-around;
}

.price-block {
    background: var(--bg-white);
    border: 3px solid rgb(76, 61, 116);
    border-radius: 30px;
    width: 364px;
    height: 529px;
}

.price-title {
    padding-top: 57px;
    padding-left: 36px;
}

.price-title {
    font-family: Futura;
    color: var(--bg-fon);
}

.price-list {
    padding-left: 36px;
    padding-top: 15px;
}

.price-item {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 8px;
}

.price-duration {
    color: var(--bg-fon);
    padding-top: 18px;
    padding-left: 36px;
    font-family: Futura;
}

.price-sum {
    display: flex;
    justify-content: space-evenly;
    padding-top: 11px;
}

.price-smile {
    position: relative;
    top: -500px;
    left: 290px;
}

.pay-button {
    position: relative;
    position: relative;
    top: -90px;
    left: 50px;
    color: var(--bg-white);

}

.price-list-symbol {
    font-family: Futura;
    font-size: 25px;
    font-weight: 700;
    width: 18px;
}

.price-list-block {
    display: flex;
    gap: 8px;
}

.price-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 177px;
    gap: 15px;
}

.price-bottom-btn {
    background: var(--bg-fon);
}

.qa-bottom {
    padding-top: 62px;
    display: flex;
    justify-content: space-around;
    gap: 28px;
}

.qa-bottom-text {
    color: var(--bg-fon);
    font-family: Futura;
    font-size: 20px;
    font-weight: 700;
}

.qa-button {
    background: var(--button-ligth);
}

.qa-button:hover {
    transition : 1000ms;
    transform : translateY(-0px);
    background: var(--bg-fon);
}

.qa-button:active {
    background: var(--text-color-white);
    color: var(--button-ligth);
}

.qa-bottom-block {
    display: flex;
    justify-content: space-around;
    padding-top: 62px;
}

.footer {
    background: var(--footer-bg);
}

.footer-title {
    color: var(--text-color-white);
    padding: 8px;
}

.footer-block {
    padding-top: 125px;
    padding-bottom: 138px;
    display: flex;
    justify-content: space-between;
}

.footer-design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-contact {
    text-align: right;
}

